<section class="sidebar">
  <a href="/" aria-label="Avatar">
    <img src="/img/me.jpg" height="75" width="75" class="avatar" />
  </a>

  <section class="name">
    <a href="/">
      <span id="fname">Elyse Y.</span>
      <span id="lname">Robinson</span>
    </a>
  </section>

  <section class="meta">
    <a href="https://twitter.com/{{ site.twitter }}" target="_blank" title="Follow me on Twitter" aria-label="Follow me on Twitter"><i class="fa fa-twitter"></i></a>
    <a href="/atom.xml" title="Atom RSS feed" aria-label="Atom RSS feed"><i class="fa fa-rss"></i></a>
  </section>

  <section class="sections">
    <ul>
      <li><a href="/about">about</a></li>
      <li><a href="/beaforeigner">beaforeigner</a></li>
      <li><a href="/podcast-youtube">podcast/youtube</a></li>
      <li><a href="/travel-deals">travel deals</a></li>
      <li><a href="/insurance">insurance</a></li>
      <li><a href="/archives">archives</a></li>
      <li><a href="/search">search</a></li>
      <li><a href="/contact">contact</a></li>
    </ul>
hr
