<!DOCTYPE html>
<head>
<meta property="fb:pages" content="470938406650841" />
  <!-- Open Graph Tags -->
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_US">
  <meta property="og:url" content="https://elyserobinson.com">
  <meta property="og:title" content="Elyse Y. Robinson 🌮">
<meta property="og:description" content="Story of one Black American woman's adventures in México..." />
<meta property="og:image" content="https://elyserobinson.com/img/df pyramids (5).jpg" />
<meta property="fb:app_id" content="408972432981404">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Elyse Y. Robinson 🌮 | Black American Woman in México">
  <meta name="twitter:description" content="Story of one Black American woman's adventures in México...">
  <meta property="twitter:image" content="https://elyserobinson.com/img/df pyramids (5).jpg">

<link rel="manifest" href="https://elyserobinson.com/manifest.json">
<script type="module">
import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';

const el = document.createElement('pwa-update');
document.body.appendChild(el);
</script>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Story of one Black American woman's adventures in México...">
  <meta name="keywords" content="expat, expatriate, overseas, immigrant, visa, visas, visa on arrival, overseas, black and overseas, black american, black in México, black american in México, black mexican, black immigrant, black woman in México, how to move overseas, how to move overseas, jobs overseas, podcaster, podcast, black american podcast, black podcast, black podcaster, elyse robinson, elyse y. robinson, beaforeigner, be a foreigner, black art, black art in México, black in china, black in guatemala, black in the US, leave the US, leave the united states, black expat, black expatriate, black model, black speaker, black and overseas, opportunities overseas, jobs overseas, opportunities overseas, learn spanish, learn espanol, black and spanish, black and espanol, black bilingual">
  <meta name="author" content="Elyse Y. Robinson 🌮">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <script src="https://kit.fontawesome.com/a0dfce229a.js" crossorigin="anonymous"></script>

<link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://elyserobinson.comapple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://elyserobinson.comapple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://elyserobinson.comapple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://elyserobinson.comapple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="https://elyserobinson.comapple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://elyserobinson.comapple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://elyserobinson.comapple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://elyserobinson.comapple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="https://elyserobinson.comfavicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="https://elyserobinson.comfavicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="https://elyserobinson.comfavicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="https://elyserobinson.comfavicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="https://elyserobinson.comfavicon-128.png" sizes="128x128" />
<meta name="application-name" content="Elyse Y. Robinson | Black American Woman in México"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="https://elyserobinson.commstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="https://elyserobinson.commstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="https://elyserobinson.commstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="https://elyserobinson.commstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="https://elyserobinson.commstile-310x310.png" />
<meta name="msapplication-notification" content="frequency=30;polling-uri=https://notifications.buildmypinnedsite.com/?feed=https://elyserobinson.com/feed.xml&amp;id=1;polling-uri2=https://notifications.buildmypinnedsite.com/?feed=https://elyserobinson.com/feed.xml&amp;id=2;polling-uri3=https://notifications.buildmypinnedsite.com/?feed=https://elyserobinson.com/feed.xml&amp;id=3;polling-uri4=https://notifications.buildmypinnedsite.com/?feed=https://elyserobinson.com/feed.xml&amp;id=4;polling-uri5=https://notifications.buildmypinnedsite.com/?feed=https://elyserobinson.com/feed.xml&amp;id=5;cycle=1" />

<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5eb5df860ebc870012be75a0&product=inline-share-buttons&cms=sop' async='async'></script>

<link rel="alternate" type="application/atom+xml" title="Elyse Y. Robinson | Black American Woman in México" href="https://elyserobinson.com/feed.xml">
<link rel="sitemap" type="application/xml" title="Sitemap" href="https://elyserobinson.com/sitemap.xml" />

<!-- Hotjar Tracking Code for www.elyserobinson.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1788984,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<script async defer src="https://api.elyserobinson.com/latest.js"></script>
<noscript><img src="https://api.elyserobinson.com/noscript.gif" alt=""></noscript>

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1925125067717815');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1925125067717815&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
</head>

</head>
<body>
    <div class="wrapper">
        <div class="navbar container">
            {% if site.ins_logo %}
                <img id="ins-logo" src="{{ site.ins_logo }}" width="100" height="150" />
            {% endif %}
            <div style="text-align: center"><b><a id="author-name" class="alignable pull-left" href="{{ site.baseurl }}">{{ site.title }}</a></b>
            <div style="font-size: 18px;"><ul id="navlist" class="alignable pull-right navbar-ul">
                {% for x in site.nav %}
                    {% if x.name == "Resume" %}
                        <li class="alignable pull-left nav-list"><a target="_blank" href="{{ x.link }}">{{ x.name }}</a>
                    {% else %}
                        <li class="alignable pull-left nav-list"><a href="{{ x.link }}">{{ x.name }}</a>
                    {% endif %}
                    {% if forloop.last == false %}
                        /
                    {% endif %}
                        </li>
                {% endfor %}
            </ul>
<a href="https://liberapay.com/elyserobinson" target="_blank"><i class="fas fa-donate"></i></a>
<a href="https://{{ author.amazon-author }}" target="_blank"><i class="fab fa-amazon"></i></a>
<a href="http://youtube.com/elyserobinson" target="_blank"><i class="fab fa-youtube"></i></a>
<a href="https://anchor.fm/elyserobinson" target="_blank"><i class="fas fa-podcast"></i></a>
<a href="http://instagram.com/mselyserobinson" target="_blank"><i class="fab fa-instagram"></i></a>
<a href="http://facebook.com/mselyserobinson" target="_blank"><i class="fab fa-facebook"></i></a>
<a href="http://twitter.com/mselyserobinson" target="_blank"><i class="fab fa-twitter"></i></a>
<a href="http://www.pinterest.com/mselyser" target="_blank"><i class="fab fa-pinterest"></i></a>
</div>
</div>
        </div>

        <hr>
        {% if page.is_contact == true %}
            <div class="container content contact">
        {% else %}
            <div class="container content">
        {% endif %}
                <div style="font size: 18px;">{{ content }}</div>

                    <hr />
<br>
                    <div style="text-align: center; font size: 11px;">
                    &copy; 2016 - 2020 | made with love by Elyse Y. Robinson<br>
                    <img src="/img/running-heart.gif" width="50" height="50" alt="Made with love by Elyse Y. Robinson">
                    </div>

            </div>
    </div>

<script type="module">
import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';

const el = document.createElement('pwa-update');
document.body.appendChild(el);
</script>

</body>
</html>
